<div class="parent">
    <h1>Boredom App</h1>

        <h3 style="text-decoration: underline; font-weight: bold;">Activity</h3>
        <p>{{activities.activity}}</p>

        <h4 style="text-decoration: underline; font-weight: bold">Type</h4>
        <p>{{activities.type}}</p>

        <h4 style="text-decoration: underline; font-weight: bold">Price</h4>
        <p>{{activities.price}}</p>

        <h4 style="text-decoration: underline; font-weight: bold">Key</h4>
        <p>{{activities.key}}</p>

        <button class="btn btn-info" (click)="function()">Next Activity</button>
</div>

