<p>directives works!</p>


<h2>{{today}}</h2>
<h3>{{today | date}}</h3>
<h3>{{today | date:'yyyy/dd/MM'}}</h3>
<h3>{{today | date:'yy-dd-MM'}}</h3>
<h3>{{today | date:'short'}}</h3>
<h3>{{today | date:'mediumTime'}}</h3>

<h2>{{users | json}}</h2>

<button class="btn btn-primary"> Bootstrap</button>

<ol>
    <li *ngFor="let name of names">
            {{name}}
    </li>
</ol>

<select name="" id="">
    <option *ngFor="let state of states">
                {{state}}
    </option>
</select>

<br><br>

<table border="2">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Package</th>
            <th>Loaction</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{user.name | uppercase}}</td>
            <td [ngClass]="{ 'red':0 < user.age && user.age < 10, 'yellow':10< user.age && user.age < 20 ,'green':20< user.age && user.age < 35  }">{{user.age}}</td>
            <td [ngStyle]="{'background-color':user.package <= 10?'red':'green'}">{{user.package}}</td>
            <td>{{user.Location}}</td>
        </tr>
    </tbody>
</table>



<h1 *ngIf="time >=0 && time < 12 ">Good Morning</h1>
<h1 *ngIf="time >=12 && time < 20 ">Good Afternoon</h1>
<h1 *ngIf="time >=20 && time < 24  ">Good Night</h1>