<h1>{{isEdit ? 'Edit Vehicle Form' : 'Create Vehicle Form'}}</h1>

<!-- another method -->

<!-- <h1 *ngIf="isEdit">Edit Vehicle Form</h1>
<h1 *ngIf="!isEdit">Create Vehicle Form</h1> -->

<form [formGroup]="vehicleForm">

    <label>Vehicle</label>
    <input type="text" formControlName="Vehicle">
    <br>

    <label>manufacturer</label>
    <input type="text" formControlName="manufacturer">
    <br>

    <label>model</label>
    <input type="text" formControlName="model">
    <br>

    <label>type</label>
    <input type="text" formControlName="type">
    <br>

    <label>fuel</label>
    <input type="text" formControlName="fuel">
    <br>

    <label>color</label>
    <input type="text" formControlName="color">
    <br>

    <label>image</label>
    <input type="text" formControlName="image">
    <br>

    <button class="btn btn-primary" (click)="submit()">submit</button>

</form>