<input [(ngModel)]="filter" type="text" name="" id="">
<button (click)="filterButton()" class="btn btn-primary">Filter</button>


<select [(ngModel)]="order" name="" id="">
    <option value="account_name">accountName</option>
    <option value="account_number">account_number</option>
    <option value="currency">currency</option>
</select>

<select [(ngModel)]="value" name="" id="">
    <option value="asc">asending</option>
    <option value="desc">Desending</option>
</select>

<button (click)="sortby()" class="btn btn-primary">Sort</button>


<table border="2" class="table ">
    <thead>
        <tr>
            <th *ngFor="let key of keys">{{key}}</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let account of accounts">
            <td *ngFor="let key of keys">{{ account[key] }}</td>

            <td ><button (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
                <button (click)="view(account.id)" class="btn btn-primary">View</button>
                <button (click)="edit(account.id)" class="btn btn-lite">Edit</button>
            </td>
            
        </tr>
    </tbody>
</table>