<form [formGroup]="studentForm" action="">
    <label for="">Name:</label>
    <input formControlName="name" type="text" name="" id="">
    <br>

    <label for="">Phone:</label>
    <input formControlName="phone" type="number" name="" id="">
    <br>

    <label for="">Email:</label>
    <input formControlName="email" type="text" name="" id="">
    <br>

    <div formGroupName="address">
        <label for="">City</label>
        <input formControlName="city" type="text" name="" id="">
        <br>

        <label for="">State</label>
        <input formControlName="state" type="text" name="" id="">
        <br>

        <label for="">pin</label>
        <input formControlName="pin" type="number" name="" id="">
        <br>
        
    </div>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls ; let i = index">
            <div formGroupName="{{i}}">
                <h3>Enter card Details: {{i + 1}}</h3>
                <label for="">Number</label>
                <input formControlName="number" type="number" name="" id="">
                <br>

                <label for="">Expiry</label>
                <input formControlName="expiry" type="month" name="" id="">
                <br>

                <label for="">CVV</label>
                <input formControlName="cvv" type="number" name="" id="">
                <br>

                <button (click)="delete(i)" class="btn btn-danger">Delete</button>

            </div>
        </div>
    </div>



    <button (click)="add()" class="btn btn-primary"> Add Card</button> <br>

    <label for="">Type</label>
    
    <input type="radio" name="type" id="day" value="dayScholor" formControlName="type" >
    <label for="day">Day scholor</label>

    <input type="radio" name="type" id="res" value="residential"  formControlName="type">
    <label for="res">Residential</label>
    <br>

<div *ngIf="studentForm.get('type')?.value == 'dayScholor'">
    <label for="">Bus fee:</label>
    <input formControlName="busfee" type="number" name="" id="">
    <br>
</div>
    
<div *ngIf="studentForm.get('type')?.value == 'residential'">
    <label for="">Hostel fee:</label>
    <input formControlName="hostelfee" type="number" name="" id="">
    <br>
</div>

    <button (click)="submit()" class="btn btn-primary">Submit</button>

</form>