<input type="text" [(ngModel)]="term" >
<button (click)="filter()" class="btn btn-primary">filter</button>

<select [(ngModel)]="column">
    <option value="color">color</option>
    <option value="model">model</option>
    <option value="type">type</option>
</select>

<select [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descnding</option>
</select>

<button (click)="sort()" class="btn btn-primary">sort</button>

<table border="2" class="table">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td><img src="{{vehicle.image}}" alt="" width="50" height="50"></td>
            <td>{{vehicle.id}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(vehicle.id)">delete</button>
                <button class="btn btn-primary" (click)="view(vehicle.id)">View</button>
                <button class="btn btn-light" (click)="edit(vehicle.id)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pagination">
    <li (click)="page(1)" class="page-item"><a class="page-link">1</a></li>
    <li (click)="page(2)"  class="page-item"><a class="page-link">2</a></li>
    <li (click)="page(3)"  class="page-item"><a class="page-link">3</a></li>
  </ul>


<!-- Angular Forms:
--------------

  Two types of forms:
    1) Template driven forms
    2) Reactive forms


    Why Reactive froms:
    -------------------
    1) In TDF both view and logic is in template
       whre in reactive forms it's segragated clearly - view in template, logic in class

    2) Reactive form provide more features.
        Ex: valueChanges, touched, dirty, custom validations.


    Reactive forms concepts:
    ------------------------
        1) Form
        2) Nested form group
        3) Form array
        4) Dynamic forms
        5) Form Validations
        6) Custom Validator

    Form Implementation:
    --------------------
    1) Import ReactiveFormsModule in appModule.
    2) Craete FormGroup in ts
    3) Create form view in html
    4) Map the controls
    5) Console and check value on submit.
 -->

