<form [formGroup]="employeeForm" action="">
    <label for="">Name:</label>
    <input formControlName="name" type="text" name="" id="">
    <br>

    <label for="">Mobile No:</label>
    <input formControlName="mobile" type="number" name="" id="">
    <br>

    <label for="">Email:</label>
    <input formControlName="email" type="text" name="" id="">
    <br>

    <label for="">DoB:</label>
    <input formControlName="DoB" type="datetime-local" name="" id="">
    <br>

    <div formGroupName="Adderess">
        <label for="">AddressLine</label>
        <input formControlName="addressLine" type="text">
        <br>

        <label for="">City</label>
        <input formControlName="city" type="text">
        <br>

        <label for="">State</label>
        <input formControlName="state" type="text">
        <br>

        <label for="">Pincode</label>
        <input formControlName="pincode" type="text">
        <br>

        <div formGroupName="Location">

            <label for="">Nearby</label>
            <input formControlName="nearby" type="text">
            <br>

            <label for="">Landmark</label>
            <input formControlName="landmark" type="text">
            <br>
        </div>

    </div>


    <div formArrayName="Education">
        <div *ngFor="let education of employeeEducation.controls ; let i = index">
            <div formGroupName="{{i}}">
                <h3>Educational Details: {{i+1}}</h3>
                <label for="">Qualification</label>
                <input formControlName="qualification" type="text" name="" id="">
                <br>

                <label for="">Year</label>
                <input formControlName="year" type="text" name="" id="">
                <br>

                <label for="">Percentage</label>
                <input formControlName="percentage" type="text" name="" id="">
                <br>
                <button (click)="delete(i)"  class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    <button (click)="add()" class="btn btn-primary">Add Education</button>
    <br>

    <label for="">Role</label>

    <input type="radio" name="type" id="fe" value="frontend" formControlName="type">
    <label for="fe">FrontEnd Engineer</label>

    <input type="radio" name="type" id="be" value="backend" formControlName="type">
    <label for="be">BackEnd Engineer</label>   
    <br>

    <div *ngIf="employeeForm.get('type')?.value == 'frontend'">
        <h3>Years of Experince in</h3>
        <label for="">HTML:</label>
        <input  formControlName="html" type="text">
        <br>

        <label for="">CSS:</label>
        <input formControlName="css" type="text">
        <br>

        <label for="">JAVASCRIPT:</label>
        <input formControlName="javascript" type="text">
        <br>

        <label for="">ANGULAR:</label>
        <input formControlName="angular" type="text">
        <br>
    </div>

    <div *ngIf="employeeForm.get('type')?.value == 'backend'">
        <h3>Years of Experince in</h3>
        <label for="">NODE-JS:</label>
        <input formControlName="node" type="text">
        <br>

        <label for="">EXPRESS-JS:</label>
        <input formControlName="express" type="text">
        <br>

        <label for="">MONGO DB:</label>
        <input formControlName="mongo" type="text">
        <br>
    </div>



    <button (click)="submit()" class="btn btn-primary"> Submit</button>
</form>



